<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
    
    <!-- 加载线程池 -->
	<bean id="threadPoolTaskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">  
        <property name="corePoolSize" value="5" />  
        <property name="maxPoolSize" value="10" />  
        <property name="waitForTasksToCompleteOnShutdown" value="true" />  
    </bean>
    
    <!-- 加载EhCache配置 -->
	<bean id="ehcache" class="com.tempetek.cache.core.ehcache.Ehcache">
   		<property name="configLocation" value="classpath:ehcache.xml" />  
	</bean>
	
	<!-- Redis数据源配置 -->
	<bean id="redisDataSource" class="com.tempetek.grass.redis.DataSource">
		<property name="connectionFactory">
			<bean class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		        <property name="hostName" value="10.0.0.60" />
		        <property name="port" value="6379" />
		        <property name="timeout" value="1000" />
		        <property name="poolConfig">
		        	<bean class="redis.clients.jedis.JedisPoolConfig">
				        <property name="maxIdle" value="2" />
				        <property name="maxTotal" value="10" />
				        <property name="maxWaitMillis" value="1000" />
				        <property name="blockWhenExhausted" value="true" /> 
				        <property name="testOnBorrow" value="true" />
				    </bean>
		        </property>
		    </bean>
		</property>
		<property name="enableTransactionSupport" value="true" />
	</bean>
	
	<!-- Redis工厂(支持多数据源) -->
	<bean id="redisCache" class="com.tempetek.cache.core.redis.RedisCache">
		<property name="dataSource" ref="redisDataSource" />
	</bean>
	
	<bean id="cacheManager" class="com.tempetek.cache.manager.CacheManager">
		<property name="configure">
			<map>
				<!-- 注：请勿变更顺序 -->
				<!-- 后端系统(目前支持两种模式：efixed、 rfixed) -->
				<entry key="01" value="efixed" />
				<!-- 前端系统(目前支持两种模式：ehcahe、 redis) -->
				<entry key="02" value="redis" />
			</map>
		</property>
	</bean>
	
	<!-- 初始化缓存 -->
	<bean id="cacheInitManager" class="com.tempetek.cache.manager.CacheInitManager" />
</beans>