#parse("header.vm")
</head>

<body class="easyui-layout" data-options="fit:true">
    <div data-options="region:'west',border:true" style="width:250px;">
        <div class="easyui-layout" data-options="fit:true">
            <input type="hidden" id="templateId" name="templateId">

            #button_common("btnToolBar", "panel-datagrid-header datagrid-toolbar", $!{code},'IN[TEMPLATE_ADD,TEMPLATE_EDIT,TEMPLATE_DEL]')
            <div style="padding: 10px;">
                <ul id="loadTree"></ul>
            </div>
        </div>
    </div>

    <div data-options="region:'center',border:true">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'north',border:false">
                <form id="queryForm">
                    <table style="width:100%">
                        <tr height="15px"></tr>

                        <tr height="40px">
                            <td>
                                <label class="textbox-label" style="text-align:right">属性名:</label>
                                <input class="easyui-textbox" name="fieldName" style="width:171px">
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'iconfont icon-search'" style="position:absolute;right:90px" onclick="callback()">查询</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'iconfont icon-reset'" style="position:absolute;right:20px" onclick="reset()">重置</a>
                            </td>
                        </tr>

                        <tr height="15px"></tr>
                    </table>
                </form>
            </div>

            <div data-options="region:'center',border:false">
                <form id="jspopForm" data-options="fit:true">
                    #button_common("btnToolBar", "panel-datagrid-header datagrid-toolbar1", $!{code},'IN[TEMPLATE_ATTR_ADD,TEMPLATE_ATTR_EDIT,TEMPLATE_ATTR_DEL]')
                    <table id="loadGridList"></table>
                </form>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    var editIndex = undefined;

    var fieldNameEditor = {
        type: 'validatebox',
        options: {
            required:true,
            missingMessage:'属性名不能为空!',
            validType:'length[0,32]',
            invalidMessage:'属性名长度不能大于32!'
        }
    }

    var validateCommentEditor = {
        type: 'validatebox',
        options: {
            validType: 'length[0,32]',
            invalidMessage: '属性描述长度不能大于32!'
        }
    }

    $("#loadTree").tree({
        url:'${rc.contextPath}/config/template/gettree',
        lines: true,
        animate: true,
        onClick: function(node) {
            var id = node.id;
            $("#templateId").val(id);
            $('#loadGridList').datagrid('load', '${rc.contextPath}/config/templateattr/findByTemplateId?id=' + id);
        },
        onLoadSuccess: function(node, data) {
            if (data.length > 0) {
                var n = $('#loadTree').tree('find', data[0].id);

                $("#templateId").val(data[0].id);
                $('#loadTree').tree('select', n.target);
                $('#loadGridList').datagrid('load', '${rc.contextPath}/config/templateattr/findByTemplateId?id=' + data[0].id);
            }
        }
    });

    var grid = $('#loadGridList').datagrid({
        border: false,
        remoteSort: true,
        rownumbers:true,
        singleSelect: true,
        columns: [[
            {field: 'ck', title: '全选', width: 300, halign: 'center', checkbox: true},
            {field: 'fieldName', title: '属性名', width: 300, halign: 'center', align: 'center', editor: fieldNameEditor},
            {field: 'fieldComment', title: '属性描述', width: 300, halign: 'center', align: 'center', editor: validateCommentEditor}
        ]],
        sortName: 'ID',
        sortOrder: 'DESC',
        onClickCell: onClickCell
    });

    //行点击事件，开始行编辑
    function onClickCell(index, field) {
        if (editIndex != index) {
            if (endEditing()) {
                $('#loadGridList').datagrid('selectRow', index).datagrid('beginEdit', index);
                editIndex = index;
            }else {
                $('#loadGridList').datagrid('selectRow', editIndex);
            }
        }
    }

    //结束编辑
    function endEditing() {
        if (editIndex == undefined) {
            return true
        }

        if ($('#loadGridList').datagrid('validateRow', editIndex)) {
            $('#loadGridList').datagrid('endEdit', editIndex);
            editIndex = undefined;
            return true;
        } else {
            return false;
        }
    }

    function callback() {
        if ($("#queryForm").form('validate')) {
            grid.datagrid("load", $("#queryForm").serializeObject());
        }
        return false;
    }

    function reset() {
        $("#queryForm").form("reset");
    }

    function add() {
        jspop_dialog("jspop_dialog", "新增", "${rc.contextPath}/config/template/index", 650, 400, callback, true, true);
    }

    function edit() {
        var selectedNode = $("#loadTree").tree("getSelected");

        if(selectedNode == null){
            $.messager.alert('提示', '请选择模板', 'error');
            return;
        }
        jspop_dialog("jspop_dialog", "修改", "${rc.contextPath}/config/template/index?id=" + selectedNode.id, 650, 400, callback, true, true);
    }

    function del() {
        var selectedNode = $("#loadTree").tree("getSelected");

        if (selectedNode.length == 0) {
            $.messager.alert('提示', '请选择至少一条模板!', 'error');
            return;
        }

        $.messager.confirm('提示', '是否确定删除?', function(o) {
            if (o) {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "${rc.contextPath}/config/template/delete?id=" + selectedNode.id,
                    success: function(o) {
                        if (o.status == "success") {
                            $.messager.alert('提示', o.message, 'info');
                            location.reload();
                        }else {
                            $.messager.alert('提示', o.message, 'error');
                        }
                    }
                });
            }
        });
    }

    function addAttr() {
        if ($("#jspopForm").form('validate') && endEditing()) {
            $('#loadGridList').datagrid('appendRow',{});
            editIndex = $('#loadGridList').datagrid('getRows').length - 1;
            $('#loadGridList').datagrid('selectRow', editIndex).datagrid('beginEdit', editIndex);
        }
    }

    function saveAttr(){
        endEditing();

        if ($('#jspopForm').form('validate')){
            var templateId = $("#templateId").val();

            $.ajax({
                url: '${rc.contextPath}/config/templateattr/save',
                data: {'templateId': templateId, 'templateAttrJson': JSON.stringify($('#loadGridList').datagrid("getRows"))},
                dataType: "json",
                type: "POST",
                success: function(o) {
                    if (o.status == "success") {
                        $.messager.alert('提示', o.message, 'info');
                    } else {
                        $.messager.alert('提示', o.message, 'error');
                    }
                }
            });
        }
    }

    function delAttr() {
        var row = $('#loadGridList').datagrid('getSelected');

        if (editIndex == undefined) {
            if (row != null) {
                var rowIndex = $('#loadGridList').datagrid('getRowIndex',row);
                $('#loadGridList').datagrid('deleteRow', rowIndex);
            }
            return;
        }

        $('#loadGridList').datagrid('cancelEdit', editIndex).datagrid('deleteRow', editIndex);
        editIndex = undefined;
    }

</script>
</html>